body {
font-family: 'Poppins', sans-serif;
}

.welcome-container {
  position: relative;
  background-color: #007bff;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.logo {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.forgot-password {
  text-align: center;
  margin-top: 30px;
}

.forgot-password a { 
  color: #007bff;
  text-decoration: none;
}

.blue-container {
  background-color: #007bff;
  height: 100px;
}
